@font-face {
  font-family: "Montserrat";
  src        : url("fonts/Montserrat-Regular.woff2") format("woff2"), url("fonts/Montserrat-Regular.woff") format("woff"), url("fonts/Montserrat-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Montserrat";
  font-weight: bold;
  src        : url("fonts/Montserrat-Bold.woff2") format("woff2"), url("fonts/Montserrat-Bold.woff") format("woff"), url("fonts/Montserrat-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "Raleway";
  src        : url("fonts/Raleway-Regular.woff2") format("woff2"), url("fonts/Raleway-Regular.woff") format("woff"), url("fonts/Raleway-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Raleway";
  font-weight: bold;
  src        : url("fonts/Raleway-Bold.woff2") format("woff2"), url("fonts/Raleway-Bold.woff") format("woff"), url("fonts/Raleway-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "Raleway";
  font-weight: 600;
  src        : url("fonts/Raleway-SemiBold.woff2") format("woff2"), url("fonts/Raleway-SemiBold.woff") format("woff"), url("fonts/Raleway-SemiBold.ttf") format("ttf");
}
@font-face {
  font-family: "Playfair Display";
  font-style : italic;
  src        : url("fonts/Playfair-Display-Italic.woff2") format("woff2"),url("fonts/Playfair-Display-Italic.woff") format("woff"), url("fonts/Playfair-Display-Italic.ttf") format("ttf");
}
@font-face {
  font-family: "Roboto Condensed";
  font-weight: bold;
  src        : url("fonts/Roboto-Condensed-Bold.woff2") format("woff2"), url("fonts/Roboto-Condensed-Bold.woff") format("woff"), url("fonts/Roboto-Condensed-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "Helvetica LT Std";
  src        : url("fonts/Helvetica-LT-Std-Roman.woff2") format("woff2"), url("fonts/.woff") format("woff"), url("fonts/.ttf") format("ttf");
}

body {
  background : url("images/body.jpg") no-repeat;
  font-family: "Montserrat", sans-serif;
  margin     : 0;
  padding    : 0;
}

a {
  color          : inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin         : 0;
  padding        : 0;
}

figure {
  margin: 0;
}

.clearfix::after {
  clear  : both;
  content: "";
  display: table;
}

.link {
  border-bottom : 2px solid #00b0ff;
  color         : #00b0ff;
  font          : 16px "Montserrat", sans-serif;
  padding-bottom: 5px;
}

.button {
  background-color: #00b0ff;
  color           : #fff;
  display         : inline-block;
  font            : bold 14px "Montserrat", sans-serif;
  letter-spacing  : 1px;
  padding         : 15px 30px;
  text-transform  : uppercase;
}

.button:hover {
  color: #000;
}

.button-arrow {
  background: url("images/sprite.svg") no-repeat #fff;
}

.button-arrow_square {
  background-color   : #f2d800;
  background-position: -20px -29px;
}

.button-arrow_square:hover {
  background-position: 9px -29px;
}

.button-arrow_circle {
  background-position: -51px -29px;
  border             : 2px solid #646464;
  border-radius      : 50%;
}

.button-arrow_circle:hover {
  background-position: -81px -29px;
  border             : 2px solid transparent;
  box-shadow         : 0 0 25px 0 rgba(0, 0, 0, 0.16);
}

.headline {
  font          : bold 127px "Montserrat", sans-serif;
  letter-spacing: 10px;
  margin        : 0;
  opacity       : 0.015;
  position      : absolute;
  text-transform: uppercase;
  white-space   : nowrap;
}

.wrapper {
  margin-left : auto;
  margin-right: auto;
  position    : relative;
  width       : 1100px;
}

.header {
  align-items    : center;
  display        : flex;
  justify-content: space-between;
  margin-top     : 20px;
}

.logo {
  font-size  : 32px;
  font-weight: bold;
}

.nav__link {
  font-size: 14px;
}

.nav__link_top {
  color         : #000;
  font-family   : "Montserrat", sans-serif;
  padding       : 5px 10px;
  text-transform: uppercase;
}

.nav__link_top:hover {
  background-color: #00b0ff;
  color           : #fff;
}

.nav__link_bottom {
  background : url("images/sprite.svg") 0 15px no-repeat;
  box-sizing : border-box;
  color      : #fff;
  float      : left;
  font-family: "Raleway", sans-serif;
  min-width  : 150px;
  padding    : 10px 0 10px 30px;
  width      : 50%;
}

.nav__link_bottom:hover {
  font-weight: bold;
}

.social-links__item {
  display: inline-block;
}

.social-links__link {
  background   : url("images/sprite.svg") no-repeat #fff;
  border-radius: 50%;
  display      : block;
  height       : 36px;
  width        : 36px;
}

.social-links__link:hover {
  background-color: #000;
}

.social-links__link_facebook {
  background-position: 13px -81px;
}

.social-links__link_facebook:hover {
  background-position: -10px -81px;
}

.social-links__link_instagram {
  background-position: 8px -110px;
}

.social-links__link_instagram:hover {
  background-position: -15px -110px;
}

.social-links__link_email {
  background-position: 8px -139px;
}

.social-links__link_email:hover {
  background-position: -15px -139px;
}

.main-page {
  position: relative;
}

.main-page__subtitle,
.main-page__title {
  font-family: "Playfair Display", sans-serif;
  font-style : italic;
  font-weight: normal;
  text-align : center;
}

.main-page__title {
  font-size : 50px;
  margin-top: 122px;
}

.main-page__subtitle {
  color    : #fff;
  font-size: 24px;
}

.main-page__shop {
  margin-top: 122px;
}

.main-page__shop-headline {
  bottom          : -165px;
  right           : -495px;
  transform       : rotate(270deg);
  transform-origin: left top 0;
}

.shop {
  align-items: center;
  background : linear-gradient(130deg, #00d2ff 33%, transparent 33%) -25px no-repeat #fff;
  box-shadow : 10px -10px 50px 0 rgba(0, 0, 0, 0.32);
  display    : flex;
}

.shop__photo {
  margin-left: 30px;
}

.shop__previews {
  margin: 0 0 0 10px;
}

.shop__article {
  font-family: "Montserrat", sans-serif;
  padding    : 45px 50px 50px 60px;
}

.shop__pagination {
  background-color: #000;
  color           : #fff;
  font            : 14px "Montserrat", sans-serif;
  padding         : 12px 10px;
  position        : absolute;
  right           : 0;
  top             : 88px;
}

.shop__preview {
  border       : 1px solid #ccc;
  cursor       : pointer;
  margin-bottom: 3px;
}

.shop__preview:last-child {
  margin-bottom: 0;
}

.shop__preview:hover,
.shop__preview_selected {
  outline       : 2px solid #00b0ff;
  outline-offset: -2px;
}

.shop__preview-image {
  display: block;
}

.shop__title {
  font-size  : 20px;
  font-weight: bold;
  line-height: 26px;
  margin     : 0;
}

.shop__rating {
  margin: 5px 0 0;
}

.shop__tabs {
  margin: 45px 0 30px;
}

.shop__inner {
  align-items: center;
  display    : flex;
}

.shop__price {
  color      : #000;
  font-size  : 24px;
  font-weight: bold;
}

.shop__buy {
  margin-left: 30px;
}

.shop__view-all {
  display   : block;
  margin-top: 70px;
  width     : fit-content;
}

.rating__measure {
  display       : inline-block;
  font-size     : 0;
  vertical-align: middle;
}

.rating__item {
  background-image: url("images/sprite.svg");
  cursor          : pointer;
  display         : inline-block;
  height          : 14px;
  padding         : 5px 5px 0 0;
  width           : 14px;
}

.rating__item_enabled {
  background-origin  : content-box;
  background-position: 0 -174px;
  background-repeat  : no-repeat;
}

.rating__item_disabled {
  background-origin  : content-box;
  background-position: -20px -174px;
  background-repeat  : no-repeat;
}

.rating__total {
  color         : #787878;
  font-size     : 12px;
  font-weight   : bold;
  vertical-align: bottom;
}

.tabs {
  font-family: "Raleway", sans-serif;
}

.tabs__list {
  border-bottom: 1px solid #a0a0a0;
}

.tabs__item {
  color         : #a0a0a0;
  cursor        : pointer;
  display       : inline;
  font-size     : 14px;
  font-weight   : bold;
  line-height   : 25px;
  margin-right  : 30px;
  padding-bottom: 3px;
  text-transform: uppercase;
}

.tabs__item:last-child {
  margin-right: 0;
}

.tabs__item:hover,
.tabs__item_selected {
  border-bottom: 3px solid #00b0ff;
  color        : #000;
}

.tabs__content {
  color      : #787878;
  font-size  : 16px;
  line-height: 24px;
  margin     : 15px 0 0;
}

.shop__scroll {
  font-size: 0;
  position : absolute;
  right    : -38px;
  top      : 50px;
}

.shop__next,
.shop__prev {
  display: inline-block;
  height : 38px;
  width  : 38px;
}

.shop__next {
  transform: rotate(180deg);
}

.main-page__about-us {
  background: url("images/main-page__about-us.jpg") no-repeat;
  margin-top: 290px;
  position  : relative;
}

.main-page__about-us-headline {
  font-size: 196px;
  left     : 0;
  margin   : 0 auto;
  right    : 0;
  top      : -170px;
  width    : fit-content;
  z-index  : -1;
}

.about-us__article {
  background-color: #fff;
  color           : #000;
  display         : inline-block;
  margin-top      : 290px;
  padding         : 90px 130px 0 35px;
  position        : relative;
  vertical-align  : top;
  width           : 345px;
}

.about-us__article:before {
  background-color: inherit;
  content         : '';
  height          : 100%;
  left            : -1000px;
  position        : absolute;
  top             : 0;
  width           : 1000px;
}

.about-us__title {
  font          : normal 18px "Montserrat", sans-serif;
  text-align    : center;
  text-transform: uppercase;
}

.about-us__delimiter {
  margin: auto;
}

.delimiter-cross {
  background: url("images/sprite.svg") 0 -68px no-repeat #fff;
  height    : 13px;
  width     : 13px;
}

.delimiter-location {
  background: url("images/sprite.svg") 0 -192px no-repeat;
  height    : 13px;
  width     : 9px;
}

.profile:hover .profile__location-delimiter {
  background-position: -10px -192px;
}

.about-us__description {
  font      : italic 22px/38px "Playfair Display", sans-serif;
  margin    : 20px 0;
  text-align: initial;
}

.about-us__video {
  box-shadow : 20px 20px 50px 5px rgba(0, 0, 0, 0.32);
  display    : inline-block;
  margin-left: 70px;
  margin-top : 550px;
}

.main-page__our-team {
  margin-top: 250px;
}

.carousel {
  align-items: center;
  display    : flex;
  flex-flow  : row nowrap;
}

.main-page__our-team-headline {
  font-size: 190px;
  top      : -170px;
}

.carousel__list {
  text-align: center;
}

.carousel__item:not(:first-child) {
  margin-left: -20px;
}

.carousel__item:nth-child(even) {
  top    : 20px;
  z-index: 1;
}

.profile {
  background-color: #fff;
  border-radius   : 4px;
  box-shadow      : 20px 20px 50px 0 rgba(0, 0, 0, 0.2);
  display         : inline-block;
  position        : relative;
  width           : 250px;
}

.profile:hover {
  background-color: #00b0ff;
}

.profile__link {
  display: block;
  padding: 30px 0 50px;
}

.profile__avatar {
  border       : 2px solid #fff;
  border-radius: 50%;
  height       : 100px;
  margin-bottom: 10px;
  width        : 100px;
}

.profile__name {
  color : #00b0ff;
  font  : 18px "Montserrat", sans-serif;
  margin: 0;
}

.profile__location,
.profile__nickname {
  color: #8c8c8c;
  font : 14px "Raleway", sans-serif;
}

.profile__delimiter {
  margin: 5px auto;
}

.delimiter-zigzag {
  background: url("images/sprite.svg") 0 -22px no-repeat;
  height    : 6px;
  width     : 35px;
}

.profile__location-delimiter {
  display     : inline-block;
  margin-right: 5px;
}

.profile:hover .profile__location,
.profile:hover .profile__name,
.profile:hover .profile__nickname {
  color: #fff;
}

.delimiter-zigzag_selected,
.profile:hover .profile__delimiter {
  background-position: -35px -22px;
}

.carousel__next,
.carousel__prev {
  height: 38px;
  width : 38px;
}

.carousel__prev {
  margin-right: 30px;
}

.carousel__next {
  margin-left: 30px;
  transform  : rotate(180deg);
}

.main-page__blog {
  margin-top: 210px;
}

.blog {
  text-align: center;
}

.blog__title {
  color         : #000;
  font          : normal 18px "Montserrat", sans-serif;
  margin-bottom : 20px;
  text-transform: uppercase;
}

.blog__delimiter {
  margin: 0 auto 40px;
}

.post {
  display: inline-block;
  margin : 0 15px;
}

.post:hover {
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.32);
}

.post__image-wrapper {
  height  : 212px;
  position: relative;
}

.post__image-wrapper::after {
  background-image: linear-gradient(to bottom, transparent, #000);
  content         : '';
  height          : 100%;
  left            : 0;
  opacity         : 0.7;
  position        : absolute;
  top             : 0;
  width           : 100%;
}

.post:hover .post__image-wrapper::after {
  background-image: none;
}

.post__caption {
  color     : #787878;
  font      : 16px/24px "Raleway", sans-serif;
  margin    : 25px auto;
  text-align: left;
  width     : 220px;
}

.blog:hover .blog__description {
  color: #0022ff;
}

.blog__show-all {
  margin-top: 30px;
}

.main-page__social {
  display        : flex;
  justify-content: flex-end;
  margin-top     : 230px;
}

.main-page__instagram {
  left    : -60px;
  position: absolute;
  z-index : 1;
}

.instagram {
  width: 640px;
}

.main-page__social-headline {
  font-size  : 91px;
  left       : -60px;
  line-height: 91px;
  top        : -75px;
}

.instagram__photo {
  display: block;
}

.instagram__footer {
  align-items     : center;
  background-color: #fff;
  display         : flex;
  padding         : 18px 20px;
}

.instagram__logo {
  margin-right: 20px;
}

.instagram__slogan {
  color         : #00b0ff;
  font          : bold 24px "Roboto Condensed", sans-serif;
  margin-right  : 15px;
  text-transform: uppercase;
}

.instagram__nickname {
  font: 16px "Raleway", sans-serif;
}

.main-page__facebook {
  margin: 60px 20px 60px 0;
}

.facebook {
  background-image: linear-gradient(to bottom, #385490 50%, #e5e5e5 50%);
  font-family     : "Helvetica LT Std", sans-serif;
  padding         : 30px 50px;
}

.facebook__logo {
  background: url("images/facebook.png") 0 -131px no-repeat;
  display   : block;
  height    : 35px;
  margin    : 0 auto 30px;
  width     : 156px;
}

.facebook__profile {
  background: url("images/facebook.png") no-repeat #f6f7f9;
  padding   : 8px;
}

.facebook__description {
  background   : url("images/facebook.png") -156px -131px no-repeat;
  box-sizing   : border-box;
  color        : #fff;
  display      : block;
  height       : 54px;
  margin-bottom: 35px;
  padding      : 5px 0 0 60px;
}

.facebook__title {
  font-size: 18px;
}

.facebook__likes {
  font-size: 12px;
}

.fb-button {
  background-color: #fff;
  box-shadow      : 0 0 1px 1px rgba(1, 1, 1, 0.2);
  color           : #4b4f56;
  display         : inline-block;
  font            : bold 12px/13px "Helvetica LT Std", sans-serif;
  letter-spacing: 1px;
  padding         : 8px 10px 4px;
  text-transform  : capitalize;
}

.fb-button::before {
  background    : url("images/facebook.png") -26px -173px no-repeat;
  content       : "";
  display       : inline-block;
  height        : 12px;
  margin-right  : 2px;
  vertical-align: -1px;
  width         : 12px;
}

.fb-button_like::before {
  background-position: 0 -173px;
}

.fb-button_share::before {
  background-position: -13px -173px;
}

.facebook__sharebutton {
  float: right;
}

.facebook__members {
  background-color: #f6f7f9;
  padding         : 8px;
}

.fb-members {
  background-color: #fff;
  border-radius   : 1px;
  box-shadow      : 0 0 4px 1px rgba(0, 0, 0, .13);
  margin          : 0;
  padding         : 8px;
}

.fb-members__title {
  color        : #4b4f56;
  font-size    : 12px;
  margin-bottom: 7px;
}

.fb-members__list {
  font-size: 0;
}

.fb-members__item {
  display     : inline-block;
  margin-right: 2px;
}

.fb-members__item:last-child {
  margin-right: 0;
}

.footer {
  background-color: #000;
  color           : #4d4d4d;
}

.footer__copyright {
  display: inline-block;
  margin : 270px 455px 0 -63px;
  width  : 250px;
}

.copyright {
  font: 600 12px "Raleway", sans-serif;
}

.footer__nav {
  display       : inline-block;
  margin-top    : 45px;
  vertical-align: top;
  width         : 400px;
}

.footer__subscribe {
  float        : right;
  margin-bottom: 65px;
  margin-right : 155px;
  width        : 300px;
}

.form-subscribe {
  border-bottom: 1px solid #4d4d4d;
}

.form-subscribe__title {
  color        : #fff;
  display      : block;
  font         : 16px "Montserrat", sans-serif;
  margin-bottom: 10px;
}

.form-subscribe__textbox {
  background: url("images/sprite.svg") 1px -205px no-repeat;
  border    : none;
  color     : #4d4d4d;
  font      : 14px/34px "Raleway", sans-serif;
  padding   : 0 0 0 25px;
}

.form-subscribe__textbox:focus {
  color  : #fff;
  outline: none;
}

.form-subscribe__submit {
  background : url("images/sprite.svg") 0 -235px no-repeat;
  border     : none;
  float      : right;
  line-height: 34px;
  padding    : 0;
  width      : 24px;
}
