body {
  background-image: url("images/header-background.jpg");
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

main {
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

.link {
  border-bottom: 2px solid #00b0ff;
  color: #00b0ff;
  font: 16px/22px "Montserrat", sans-serif;
  padding-bottom: 3px;
}

.headline {
  font: bold 127px/127px "Montserrat", sans-serif;
  letter-spacing: 10px;
  margin: 0;
  opacity: 0.015;
  position: absolute;
  text-transform: uppercase;
  white-space: nowrap;
}

.logo {
  float: left;
  font: bold 32px/36px "Montserrat", sans-serif;
  margin: 0;
}

.content {
  position: relative;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 1100px;
}

.header {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

.navigation {
  display: inline-block;
  line-height: 36px;
}

.navigation-item {
  display: inline;
}

.navigation-item a {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  padding: 0 7px;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-item a:hover {
  background-color: #00b0ff;
  color: #fff;
}

.social-buttons {
  float: right;
}

.social-button {
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  height: 36px;
  line-height: 39px;
  width: 36px;
}

.slogan {
  font-family: "Playfair Display", sans-serif;
  font-style: italic;
  margin-top: 122px;
  text-align: center;
}

.slogan-title {
  font-size: 50px;
  font-weight: normal;
}

.slogan-subtitle {
  color: #fff;
  font-size: 24px;
  font-weight: normal;
}

.product {
  background: #fff linear-gradient(130deg, #00d2ff 33%, transparent 33%) -25px no-repeat;
  box-shadow: 10px -10px 50px 0 rgba(0, 0, 0, 0.32);
  height: 600px;
  margin-top: 122px;
}

.product-view {
  float: left;
  height: 100%;
}

.product-view::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.product-view-photo {
  display: inline-block;
  margin-left: 30px;
  vertical-align: middle;
}

.product-view-previews {
  display: inline-block;
  margin: 0 0 0 10px;
  vertical-align: middle;
}

.product-view-previews-item {
  border: 1px solid #ccc;
  cursor: pointer;
  margin-bottom: 3px;
}

.product-view-previews-item:last-child {
  margin-bottom: 0;
}

.product-view-previews-item:hover,
.product-view-previews-item_selected {
  outline: 2px solid #00b0ff;
  outline-offset: -2px;
}

.product-view-previews-item img {
  display: block;
}

.product-description {
  overflow: hidden;
  padding: 45px 50px 0 60px;
}

.product-description-headline {
  bottom: -135px;
  right: -510px;
  transform: rotate(270deg);
  transform-origin: left top 0;
}

.product-description-title {
  font: bold 20px/26px "Montserrat", sans-serif;
  margin: 0;
}

.product-description-rating {
  margin: 5px 0 0;
}

.product-description-rating::after {
  color: #787878;
  content: "(52)";
  display: inline-block;
  font: bold 12px "Montserrat", sans-serif;
  position: relative;
  top: -2px;
}

.product-description-rating li {
  cursor: pointer;
  display: inline-block;
  height: 14px;
  width: 14px;
}

.product-description-rating-item_enabled {
  background-image: url("images/Star-on.png");
}

.product-description-rating-item_disabled {
  background-image: url("images/Star-off.png");
}

.product-description-tabs {
  border-bottom: 1px solid #a0a0a0;
  margin: 45px 0 0;
}

.product-description-tabs-item,
.product-description-tabs-item_selected {
  color: #a0a0a0;
  cursor: pointer;
  display: inline;
  font: bold 14px/25px "Raleway", sans-serif;
  margin-right: 30px;
  padding-bottom: 3px;
  text-transform: uppercase;
}

.product-description-tabs-item:hover,
.product-description-tabs-item_selected {
  border-bottom: 3px solid #00b0ff;
  color: #000;
}

.product-description-tab-content {
  color: #787878;
  font: 18.3px/24px "Raleway", sans-serif;
  margin: 15px 0 30px;
}

.product-description-price {
  color: #000;
  font: bold 24px/45px "Montserrat", sans-serif;
}

.product-description-buy {
  background-color: #00b0ff;
  color: #fff;
  font: bold 14px/45px "Montserrat", sans-serif;
  margin-left: 30px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
}

.product-description-buy:hover {
  color: #000;
}

.product-description-all {
  display: block;
  margin-top: 70px;
  width: fit-content;
}

.product-description-scroll {
  position: absolute;
  right: -38px;
  top: 50px;
}

.product-description-arrow {
  background-color: #f2d800;
  fill: none;
  float: left;
  height: 38px;
  stroke: #fff;
  stroke-width: 2;
  width: 38px;
}

.product-description-arrow:hover {
  stroke: #000;
}

.product-description-page-counter {
  background-color: #000;
  color: #fff;
  font: 14px/38px "Montserrat", sans-serif;
  padding: 0 10px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 88px;
}

.about-us {
  background: url("images/about-us-background.jpg") no-repeat;
  margin-top: 290px;
}

.about-us-container {
  background-color: #fff;
  box-sizing: content-box;
  color: #000;
  display: inline-block;
  margin-top: 290px;
  padding: 90px 130px 0 35px;
  position: relative;
  vertical-align: top;
  width: 345px;
}

.about-us-container:before {
  background-color: #fff;
  content: '';
  height: 100%;
  left: -1000px;
  position: absolute;
  top: 0;
  width: 1000px;
}

.about-us-headline {
  font-size: 196px;
  left: -60px;
  line-height: 196px;
  top: -150px;
  z-index: -1;
}

.about-us-title {
  font: normal 18px "Montserrat", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.about-us-delimiter {
  display: block;
  height: 13px;
  margin: auto;
  stroke: #000;
  stroke-width: 2px;
  width: 13px;
}

.about-us-description {
  font: italic 22px/38px "Playfair Display", "Times New Roman";
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: initial;
}

.about-us-preview {
  box-shadow: 20px 20px 50px 5px rgba(0, 0, 0, 0.32);
  display: inline-block;
  margin-left: 70px;
  margin-top: 550px;
}

.our-team {
  margin-top: 250px;
  text-align: center;
}

.our-team-headline {
  font-size: 190px;
  line-height: 190px;
  top: -150px;
}

.our-team-teammate {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 20px 20px 50px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  position: relative;
  width: 260px;
}

.our-team-teammate:not(:first-child) {
  margin-left: -20px;
}

.our-team-teammate:nth-child(even) {
  top: 20px;
  z-index: 1;
}

.our-team-teammate-link {
  display: block;
  padding: 30px 0 50px;
}

.our-team-teammate-name {
  color: #00b0ff;
  font: 18px 'Montserrat', sans-serif;
  margin: 0;
}

.our-team-teammate-avatar {
  border: 2px solid #fff;
  border-radius: 50%;
  box-sizing: content-box;
  height: 100px;
  margin-bottom: 10px;
  width: 100px;
}

.our-team-teammate-location,
.our-team-teammate-nickname {
  color: #8c8c8c;
  font: 14px "Raleway", sans-serif;
}

.our-team-teammate-delimiter {
  margin: 15px 0 10px;
}

.our-team-teammate-location::before {
  content: url("images/Pin-icon.png");
  margin-right: 5px;
}

.our-team-teammate:hover {
  background-color: #00b0ff;
}

.our-team-teammate:hover .our-team-teammate-location,
.our-team-teammate:hover .our-team-teammate-name,
.our-team-teammate:hover .our-team-teammate-nickname {
  color: #fff;
}

.our-team-teammate:hover .our-team-teammate-delimiter {
  content: url("images/WavesSelected.png");
}

.our-team-teammate:hover .our-team-teammate-location::before {
  content: url("images/Pin-icon-selected.png");
}

.our-team-arrow {
  background-color: #fff;
  border: 2px solid #646464;
  border-radius: 50%;
  box-sizing: content-box;
  fill: none;
  height: 38px;
  position: absolute;
  stroke: #646464;
  stroke-width: 2;
  top: 130px;
  width: 38px;
}

.our-team-arrow:hover {
  border: 2px solid transparent;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.16);
  stroke: #0022ff;
}

.left {
  left: -25px;
}

.right {
  right: -5px;
}

.blog {
  margin-top: 210px;
  text-align: center;
}

.blog-title {
  color: #000;
  font: normal 18px "Montserrat", sans-serif;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.blog-title-delimiter {
  display: block;
  height: 13px;
  margin: 0 auto 40px;
  stroke: #000;
  stroke-width: 2px;
  width: 13px;
}

.blog-gallery {
  margin: 40px 0 0;
}

.blog-gallery-item {
  display: inline-block;
  margin: 0 15px;
  position: relative;
  width: 317px;
}

.blog-gallery-item:hover {
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.32);
}

.blog-gallery-item-gradient {
  height: 212px;
}

.blog-gallery-item-gradient::after {
  background-image: linear-gradient(to bottom, transparent, #000);
  content: '';
  height: 212px;
  left: 0;
  opacity: 0.7;
  position: absolute;
  top: 0;
  width: 317px;
}

.blog-gallery-item:hover .blog-gallery-item-gradient::after {
  background-image: none;
}

.blog-gallery-item-description {
  color: #787878;
  font: 16px/24px "Raleway", sans-serif;
  margin: 25px auto;
  text-align: left;
  width: 220px;
}

.blog-gallery-item:hover .blog-gallery-item-description {
  color: #0022ff;
}

.blog-button-gallery {
  background-color: #00b0ff;
  color: #fff;
  display: inline-block;
  font: bold 14px/14px "Montserrat", sans-serif;
  margin-top: 40px;
  padding: 16px 30px;
  text-transform: uppercase;
}

.blog-button-gallery:hover {
  color: #000;
}

.socials {
  margin-top: 230px;
  text-align: right;
}

.socials-instagram {
  display: inline-block;
  left: -60px;
  position: absolute;
  text-align: initial;
  z-index: 1;
}

.socials-instagram-link {
  display: block;
}

.socials-instagram-headline {
  font-size: 91px;
  line-height: 91px;
  top: -75px;
}

.socials-instagram-gallery {
  width: 640px;
}

.socials-instagram-gallery::after {
  clear: both;
  content: '';
  display: table;
}

.socials-instagram-gallery-item {
  float: left;
}

.socials-instagram-footer {
  background-color: #fff;
  height: 70px;
}

.socials-instagram-footer::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.socials-instagram-footer-logo {
  margin: 0 20px;
  vertical-align: middle;
}

.socials-instagram-footer-slogan {
  color: #00b0ff;
  font: bold 24px/24px "Roboto Condensed", sans-serif;
  margin-right: 15px;
  text-transform: uppercase;
  vertical-align: middle;
}

.socials-instagram-footer-nickname {
  font: 16px/16px "Raleway", sans-serif;
  vertical-align: middle;
}

.socials-facebook {
  background-image: linear-gradient(to bottom, #385490 50%, #e5e5e5 50%);
  display: inline-block;
  margin: 60px 20px 60px 0;
  padding: 30px 50px;
  text-align: initial;
}

.socials-facebook-logo {
  background: url("images/Logo-Facebook.png") center no-repeat;
  display: block;
  height: 35px;
  margin: 0 auto;
}

.socials-facebook-group {
  background: url("images/Cover.jpg") no-repeat #f6f7f9;
  margin: 30px auto 0;
  padding: 8px;
}

.socials-facebook-group-photo {
  float: left;
  margin-right: 5px;
}

.socials-facebook-group-title {
  color: #fff;
  font-family: "Helvetica LT Std", sans-serif;
  font-size: 17px;
  padding-top: 15px;
}

.socials-facebook-group-likes {
  color: #fff;
  font-family: "Helvetica LT Std", sans-serif;
  font-size: 12px;
}

.socials-facebook-group-likebutton {
  background: url("images/FB-icon.jpg") 10px center no-repeat #fff;
  box-shadow: 0 0 1px 1px rgba(1, 1, 1, 0.2);
  color: #4b4f56;
  display: inline-block;
  font: bold 12px "Helvetica LT Std", sans-serif;
  margin-top: 35px;
  padding: 5px 10px 5px 30px;
  text-transform: capitalize;
}

.socials-facebook-group-sharebutton {
  background: url("images/Share-icon.png") 10px center no-repeat #fff;
  box-shadow: 0 0 1px 1px rgba(1, 1, 1, 0.2);
  color: #4b4f56;
  float: right;
  font: bold 12px "Helvetica LT Std", sans-serif;
  margin-top: 35px;
  padding: 5px 10px 5px 30px;
  text-transform: capitalize;
}

.socials-facebook-group-friendlist {
  background-color: #fff;
  border-radius: 1px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, .13);
  margin-top: 10px;
  padding: 8px;
}

.socials-facebook-group-friendlist-title {
  color: #4b4f56;
  font-family: "Helvetica LT Std", sans-serif;
  font-size: 12px;
  margin-bottom: 7px;
}

.socials-facebook-group-friendlist-users::after {
  clear: left;
  content: '';
  display: table;
}

.socials-facebook-group-friendlist-user {
  float: left;
  margin-right: 2px;
}

.socials-facebook-group-friendlist-user:last-child {
  margin-right: 0;
}

.footer {
  background-color: #000;
  color: #4d4d4d;
  height: 415px;
}

.footer-copyright {
  display: inline-block;
  font: 12px "Raleway SemiBold", sans-serif;
  margin-left: -63px;
  margin-top: 270px;
}

.footer-copyright-bullet {
  margin-left: 10px;
  margin-right: 10px;
}

.footer-nav {
  column-count: 2;
  display: inline-block;
  left: 670px;
  position: absolute;
  top: 45px;
  width: 400px;
}

.footer-nav-item {
  background: url("images/Waves-column.png") no-repeat left;
  color: #fff;
  font: 14px/34px "Raleway", sans-serif;
  padding-left: 30px;
}

.footer-subscribe {
  border-bottom: 1px solid #4d4d4d;
  left: 670px;
  position: absolute;
  top: 280px;
}

.footer-subscribe-title {
  color: #fff;
  display: block;
  font: 16px "Montserrat", sans-serif;
  margin-bottom: 10px;
}

.footer-subscribe-textbox {
  background: transparent url("images/Mail-icon.png") no-repeat left center;
  border: none;
  color: #4d4d4d;
  font: 14px/34px "Raleway", sans-serif;
  padding: 0 0 0 25px;
  width: auto;
}

.footer-subscribe-textbox:focus {
  color: #fff;
  outline: none;
}

.footer-subscribe-submit {
  background: transparent url("images/Submit.png") no-repeat 50% 50%;
  border: none;
  float: right;
  line-height: 34px;
  padding: 0;
  width: 22px;
}
